In [2]:
sample = "Python is very easy"
x = sample.find("very")
x

10

In [3]:
string_1 = "Python is better than"
string_2 = "PHP"
 

result = string_1 + string_2
result

'Python is better thanPHP'

In [8]:
list_1 = ['P', 'y', 't', 'h', 'o', 'n']

x = " <-> ".join(list_1)

x

'P <-> y <-> t <-> h <-> o <-> n'

In [12]:
string_1 = "     python    "
string_1.rstrip()

'     python'

In [13]:
string_1 = "Python is so easy"
x = string_1.replace("Python", "PHP")
x

'PHP is so easy'

In [14]:
message = "Em ơi anh xin lỗi em \n"
print(message * 10)

Em ơi anh xin lỗi em
Em ơi anh xin lỗi em
Em ơi anh xin lỗi em
Em ơi anh xin lỗi em
Em ơi anh xin lỗi em
Em ơi anh xin lỗi em
Em ơi anh xin lỗi em
Em ơi anh xin lỗi em
Em ơi anh xin lỗi em
Em ơi anh xin lỗi em

In [18]:
import time

print(time.ctime())

Mon Oct 23 20:11:34 2023

In [19]:
x = 20
str(x)

'20'

--20. Write a query to select the employee names and the total revenue generated from the orders they have handled in each year from the Orders and OrderDetails tables.
select OD.employee_id, OD.employee_names, sum(OD.revenue)
from order as O
join orderdetail as OD
on O.order_id = OD.order_id
group by OD.employee_id, OD.employee_names

--21. Write a query to select the customer names and the total amount they have spent on orders from the Orders and OrderDetails tables.
select CustomerKey, sum(UnitPrice)
from FactInternetSales
group by CustomerKey

--22. Write a query to select the employee names and the total number of orders they have handled in each year from the Orders table.
select employee_name, count(order_id)
from orders
group by employee_name

--23. Write a query to select the product names and their average unit prices from the Products table.
select EnglishProductName, avg(listprice)
from DimProduct
group by EnglishProductName

--24. Write a query to select the top 5 customers with the highest average order amounts from the Orders and OrderDetails tables.
select top 5 CustomerKey, avg(salesamount)
from FactInternetSales
group by CustomerKey
order by sum(salesamount) desc

--25. Write a query to select the employee names and the total number of orders they have handled for each customer from the Orders and OrderDetails tables.
select od.employee_id, count(sale_amount)
from orders as o
join orderdetails as OD
on o.order_id = OD.order_id
group by OD.employee_id

--26. Write a query to select the order dates and the total revenue generated from the orders on each day of the week from the Orders and OrderDetails tables.
--datepart(dayofweek)
select DATEPART(WEEKDAY, OrderDate), sum(unitprice)
FROM FactInternetSales
group by DATEPART(WEEKDAY, OrderDate) 

--27. Write a query to select the customer names and the total number of orders they have placed in each year from the Orders table.
select CustomerKey,year(orderdate) as year,  sum(unitprice) as sum
from FactInternetSales
group by year(orderdate), CustomerKey


--28. Write a query to select the employee names and the total number of orders they have handled for each product from the Orders and OrderDetails tables.


--29. Write a query to select the product names and the total number of units sold for each product from the OrderDetails table.
select EnglishProductName, sum(ListPrice)
from DimProduct
group by EnglishProductName